/* -- content -------*/

#header {
    background-color: #ccc;
}

#logo,
#nav {
    padding-left: 1em;
}

#footer {
    background-color: #ccc;
}

/* -- app -----------*/
.cmsly-toolbar,
.cmsly-toolbar * {
    box-sizing: border-box;
}

.cmsly-toolbar {
    background-color: #2f70b1;
}

.cmsly-toolbar .toolbar {
    color: #fff;
    font-size: 12px;
    height: 25px;
}

.cmsly-toolbar .toolbar__section {
    float: left;
    max-width: 140px;
    border-right: 1px solid #fff;
    background-color: #2f70b1;
}

.cmsly-toolbar .toolbar__section:first-child {
    border-left: 1px solid #fff;
}

.cmsly-toolbar .toolbar__section:hover {
    background-color: #5e99d4;
}

.cmsly-toolbar .toolbar__section-publish {
    background-color: #6650b0;
}

.cmsly-toolbar .toolbar__section-publish:hover {
    background-color: #9534b0;
}

.cmsly-toolbar .toolbar__item {
    padding: 5px;
}

.cmsly-toolbar .toolbar__button {
    height: 100%;
    cursor: pointer;
    width: 100%;
}